/config/*
!/config/formats.js
/logs/*
/node_modules
/eslint-cache
/chat-plugins/private.js
/chat-plugins/*-private.js
/chat-plugins/*
/test/*
/tournaments/*
/index/*
npm-debug.log
.eslintcache
package-lock.json
.travis.yml
app.js
chat-commands.js
chat-formatter.js
chat.js
CONTRIBUTING.md
dnsbl.js
fs.js
ladders-local.js
ladders-remote.js
ladders.js
LICENSE
loginserver.js
monitor.js
old-simulator-doc.txt
package-lock.json
package.json
pokemon-showdown
process-manager.js
Procfile
PROTOCOL.md
punishment.js
rank-ladder.js
README.md
room-battle.js
room-game?js
roomlogs.js
rooms.js
simulator-doc.txt
sockets.js
team-validator-async.js
tells.js
tools.js
tsconfig.json
users.js
verifier.js

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
build
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt

